html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

ul, menu {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

.ctas {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column-reverse;
  margin: 2rem 1rem;
}
@media screen and (min-width: 960px) {
  .ctas {
    flex-direction: row;
    justify-content: center;
  }
}
.ctas__cta {
  font-weight: bold;
}
.ctas__ctaOnsite {
  display: block;
  border-width: 0;
  background-color: #8ACFE5;
  padding: 1rem 3rem;
  color: #011827;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 0.2em;
}
.ctas__ctaOnline {
  color: #36769D;
}
@media screen and (min-width: 960px) {
  .ctas__ctaOnline {
    display: block;
    border-width: 0;
    background-color: #E3170A;
    padding: 1rem 3rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 0.2em;
  }
}

.rating {
  display: flex;
  gap: 0.2rem;
}
.rating__star {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("star.png");
  background-size: contain;
}
.rating__star--filled {
  background-image: url("star-filled.png");
}

.linkList__headline {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.linkList__link {
  color: white;
  text-decoration: none;
}

.header {
  background-color: #011827;
  padding: 1.5rem;
}

.header__logo {
  background-image: url("logo.png");
  background-size: 8rem;
  background-repeat: no-repeat;
  color: white;
  width: 10rem;
  padding-left: 8.5rem;
  font-size: 1.5rem;
  height: 5.4rem;
  margin: 0;
}
@media screen and (min-width: 960px) {
  .header__logo {
    display: flex;
    align-items: end;
    width: auto;
    font-size: 2.5rem;
    padding-left: 10rem;
  }
}

.header__mobileMenuButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  border-width: 0;
  width: 2rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  transition: transform 0.5s, top 0.5s, right 0.5s;
}
.header__mobileMenuButton::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: white;
  width: 2rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  transition: transform 0.5s;
}
.header__mobileMenuButton::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 1.2rem;
  background-color: white;
  width: 2rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  transition: opacity 0.3s;
}

.body--menuOpen .header__mobileMenuButton {
  transform: rotate(225deg);
  top: 2.5rem;
  right: 1.5rem;
}
.body--menuOpen .header__mobileMenuButton::before {
  transform: rotate(90deg) translateX(-0.55rem);
}
.body--menuOpen .header__mobileMenuButton::after {
  opacity: 0;
}

.body--menuOpen .nav {
  display: flex;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  justify-content: stretch;
  align-items: stretch;
}
.nav__menu {
  background-color: #011827;
  margin: 1rem;
  flex-grow: 1;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav__menuLink {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav__menuLink:hover {
  color: #8ACFE5;
}
@media screen and (min-width: 960px) {
  .nav {
    display: block;
    background-color: #011827;
    position: static;
  }
  .nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: none;
  }
  .nav__menuItem {
    padding: 1rem;
  }
}

.hero {
  background: url("hacker.png");
  background-size: cover;
  background-position: center center;
  height: 30vh;
}
@media screen and (min-width: 960px) {
  .hero {
    height: 50vh;
  }
  .hero + .ctas {
    margin-top: -2rem;
  }
}

.testimonials {
  display: flex;
  max-width: 1200px;
  margin: 3rem auto;
}
@media screen and (min-width: 960px) {
  .testimonials {
    margin: 5rem auto;
  }
}

.testimonial {
  display: grid;
  grid-template-columns: 4.5rem auto;
  gap: 0.5rem;
}
.testimonial:nth-of-type(2) {
  display: none;
}
@media screen and (min-width: 960px) {
  .testimonial:nth-of-type(2) {
    display: grid;
  }
}
.testimonial__image {
  grid-column: 1/1;
  width: 100%;
}
.testimonial__quote {
  grid-column: 2/2;
  margin: 0;
  font-size: 1.5rem;
  font-style: italic;
}
.testimonial__citation {
  grid-column: 2/2;
}

.challenges__headline {
  font-weight: normal;
  text-align: center;
  font-size: 2rem;
}
.challenges__list {
  display: flex;
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  overflow-x: scroll;
}
.challenges__listItem {
  flex-shrink: 0;
}

.challenge {
  display: grid;
  grid-template-columns: 0.7rem 1fr 1fr 0.7rem;
  margin: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 22rem;
  padding-bottom: 0.7rem;
}
.challenge__image {
  width: 100%;
  grid-column: span 4;
}
.challenge__title {
  grid-column: 2/4;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.5rem 0;
}
.challenge__rating {
  grid-column: 2/3;
}
.challenge__groupSize {
  grid-column: 3/4;
  text-align: right;
}
.challenge__description {
  grid-column: 2/4;
}
.challenge__bookButton {
  grid-column: 3/4;
  display: block;
  border-width: 0;
  background-color: #E3170A;
  padding: 0.7rem 2.1rem;
  color: white;
  text-decoration: none;
  font-size: 1.05rem;
  border-radius: 0.2em;
  padding-left: 1rem;
  padding-right: 1rem;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #011827;
  color: white;
  padding: 5rem 2rem;
  font-size: 1.5rem;
  text-align: center;
}
.story__intro {
  max-width: 30rem;
}
.story__link {
  display: block;
  border-width: 0;
  background-color: transparent;
  padding: 1rem 3rem;
  color: #8ACFE5;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 0.2em;
  border: 2px solid #8ACFE5;
  margin-top: 1rem;
}

.features {
  max-width: 1600px;
  margin: 0 auto;
}

.feature {
  margin: 0 0 2rem;
}
.feature__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
}
.feature__headline {
  margin: 1rem 0;
  font-size: 1.8rem;
}
.feature__intro {
  font-size: 1.4rem;
}
.feature__cta {
  display: block;
  border-width: 0;
  background-color: #E3170A;
  padding: 1rem 3rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 0.2em;
  margin: 1rem 0;
}
@media screen and (min-width: 960px) {
  .feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  .feature__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .feature__content {
    justify-content: center;
    padding: 0 8vw;
  }
  .feature:nth-child(even) .feature__image {
    grid-column: 2;
  }
  .feature:nth-child(even) .feature__content {
    grid-column: 1;
    grid-row: 1;
  }
}

.footer {
  background-color: #011827;
  color: white;
  padding: 4rem 1rem;
  font-size: 1.1rem;
}
.footer__container {
  max-width: 1600px;
  margin: 0 auto;
}
.footer__summaryHeadline {
  font-size: 1em;
  margin: 0;
}
.footer__summaryText {
  margin: 0.5rem 0;
}
.footer__sitemap .linkList__item:nth-child(3) {
  margin-bottom: 1rem;
}
.footer .linkList {
  margin: 2rem 0;
}
@media screen and (min-width: 960px) {
  .footer__container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
  }
  .footer__sitemap {
    grid-column: 3;
  }
  .footer__social {
    grid-column: 4;
  }
  .footer .linkList {
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
