body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#ffcccc, #ff8889);
  height: 100vh;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

.container {
  margin-top: -500px;
  background-color: white;

  text-align: center;
  box-shadow: 1px 1px 10px #c59d9e;
  animation: 1.25s container-dropin forwards;
  animation-delay: 0.5s;
  min-width: 30em;
  height: fit-content;
}

@keyframes container-dropin {
  0% {
    margin-top: -500px;
  }

  50% {
    margin-top: 75px;
  }

  100% {
    margin-top: 0px;
  }
}

.container-header {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 1.5s;
  margin-bottom: 0px;
}

.container-stats {
  opacity: 0;
  animation: 1s fade-in forwards;
  animation-delay: 1.75s;
}

.container>input {
  animation: 1s fade-in forwards;
  animation-delay: 2s;
  font-size: 25px;
  margin-right: 5px;
  opacity: 0;
}

#alertBox {
  margin: 8px;
}

.alert {
  color: red;
  font-style: italic;
  animation: 0.3s fade-in;
  animation-iteration-count: 3;
}

.unalert {
  color: white;
}

ul {
  margin-bottom: 20px;
}

li {
  font-size: 25px;
  list-style: none;
  transform: translateY(100%);
  animation: slide-up 0.5s forwards, fade-in 0.5s forwards;
  margin-top: 10px;
}

li>span {
  margin-right: 10px;
}

li>span:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.listcontainer>li {
  animation: 1s linear slide-up;
}

.trashcan {
  opacity: 0.5;
  font-size: 12px;
}

.trashcan:hover {
  text-decoration: none;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  transition: 0.3s;
}

.uncompleted {
  text-decoration: none;
  opacity: 1;
  transition: 1s;
}

/* Animations */


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink-three {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  100% {
    transform: translateY(0%);
  }
}