body {
  max-height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #e2adb3, #F36F7E);
  background-attachment: fixed;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: .5em;
  width: 320px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  animation: appear .9s ease-out .1s backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }

  25% {
    opacity: 1;
    transform: translateY(4rem);
  }

  100% {
    transform: translateY(0%);
  }
}

.headline {
  margin: 0;
  padding: .5em 0 0 0;
  font-size: 2.5rem;
  font-family: serif;
  animation: fadeIn .5s ease-in .9s backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#completed {
  margin: .7rem 0 1.5rem;
  font-size: .8rem;
  animation: fadeIn .5s ease-in .95s backwards;
}

form {
  animation: fadeIn .5s ease-in 1s backwards;
}

input {
  outline: none;
  border-radius: 3px;
}

input:focus {
  border: 2px solid rgb(49, 70, 204);
}

#error {
  display: none;
  margin-top: 5px;
  text-align: center;
  color: red;
  font-style: italic;
  font-size: .7rem;
  animation: blink 1.2s linear;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

button.delete {
  cursor: pointer;
  opacity: .7;
  border: none;
  background-color: inherit;
  font-size: 1rem;
  transition: opacity .2s ease-in;
}

button.delete:hover {
  opacity: 1;
}

ul {
  padding: 0;
  margin: 1rem;
}

li {
  cursor: pointer;
  list-style: none;
  margin: 5px;
  font-size: 1.2rem;
  text-align: center;
  animation: slideIn .5s ease-in;
}

@keyframes slideIn {
  0% {
    opacity: .3;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.complete {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
  transition: all .6s;
}