body {
  background-color: #f8f8f8;
}

.excercise {
  display: grid;
  grid-template-columns: [main-start io-start] 1fr [main-end io-end];

  background-color: white;
  box-shadow: 0 0 0.5em rgba(0,0,0, 0.1);
  padding: 1em;
  margin: 2em 0;
}

.excercise.success {
  background-color: #efe;
}

.excercise.failure {
  background-color: #fee;
}

.excercise.error {
  background-color: #ffd;
}

@media screen and (min-width: 800px) {
  .excercise {
    grid-template-columns: [main-start] 1fr [main-end io-start] 1fr [io-end];
  }
}

.excercise h2 {
  margin: 0 0 1em;
  grid-column: main-start / io-end;
}

.code {
  margin: 0 0 1em;
}

.input {
  min-height: 5em;
}

.output {
  margin-top: 2em;
  grid-column: main-start / io-end;
  min-height: 2em;
}

.submit {
  grid-column: main-start / io-end;
  padding: 1em;
}

#resetButton {
  display: block;
  background-color: red;
  color: white;
  padding: 1em;
  border-width: 0;
  cursor: pointer;
}
