@import 'mixins';
@import 'variables';

body {
  background-color: #faa;
  font-size: 24px;
}

.container {
  padding: 1em;

  @include breakpoint($medium-screen-breakpoint) {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 2fr;
  }

  @include breakpoint($large-screen-breakpoint) {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.header {
  @include card;

  font-size: 2em;

  @include breakpoint($medium-screen-breakpoint) {
    grid-column: span 2;
  }

  @include breakpoint($large-screen-breakpoint) {
    grid-column: span 3;
  }
}

.main {
  @include card;

  line-height: 1.3em;

  img {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }
}

.left,
.right {
  @include card;

  margin: 1em 0;

  @include breakpoint($medium-screen-breakpoint) {
    margin: 0;
  }
}

.right {
  @include breakpoint($medium-screen-breakpoint) {
    grid-column: span 2;
  }

  @include breakpoint($large-screen-breakpoint) {
    grid-column: 3 / 4;
  }
}

.footer {
  @include card;

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    display: block;
    padding: 1em 0;
    text-align: center;
  }

  @include breakpoint($medium-screen-breakpoint) {
    grid-column: span 2;
  }

  @include breakpoint($large-screen-breakpoint) {
    grid-column: span 3;
  }
}