
@mixin card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}

@mixin breakpoint($min-size) {
  @media screen and (min-width: $min-size) {
    @content;
  }
}