<!DOCTYPE html>
<html>

<head>
  <title>Hello, world!</title>
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>

<body>
  <div class="page">
    <header>
      <nav>
        <ul>
          {{#each menuItems}}
          <li class="menu-item {{#if this.active}}active{{else}}inactive{{/if}}">
            <a href="{{this.link}}">{{this.label}}</a>
          </li>
          {{/each}}
        </ul>
      </nav>
    </header>
    <div class="main">
      {{{body}}}
    </div>
    <footer>This is footer</footer>
  </div>
</body>

</html>