.container {
    /*
    Old-school hack to imitate full-height right menu
    */
    background: linear-gradient(90deg, white 70%, lightseagreen 70%);
}

.header {
    padding: 20px;
}

.left {
    float: left;
    width: 200px;
    height: 92px;
}

.main {
    float: left;
    width: calc(100% - 400px);
}

.right {
    float: right;
    width: 200px;
}

.footer {
    clear: left;
}