$c-red: #E3170A;
$c-darkblue: #011827;
$c-grey: #B6BDB5;
$c-mediumblue: #36769D;
$c-lightblue: #8ACFE5;
$c-white: white;

@mixin wide-screen {
  @media screen and (min-width: 800px) {
    @content;
  }
}

@mixin button($bgColor, $fgColor, $baseSize: 1rem) {
  border-width: 0;
  background-color: $bgColor;
  padding: $baseSize calc(3 * $baseSize);
  color: $fgColor;
  text-decoration: none;
  font-size: calc(1.5 * $baseSize);
  border-radius: 0.2em;
}