@import "variables.scss";

html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 18px;

    @media (min-width: $bp-large) {
        font-size: 24px;
    }
}

img {
    max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "misc.scss";
@import "mixins.scss";
@import "sections/header.scss";
@import "sections/main-nav.scss";
@import "sections/hero.scss";
@import "sections/testimonials.scss";
@import "sections/challenges.scss";
@import "sections/story.scss";
@import "sections/usps.scss";
@import "sections/footer.scss";