// Variables
$c-gray: #B6BDB5;
$c-red: #E3170A;
$c-darkblue: #011827;
$c-mediumblue: #36769D;
$c-lightblue: #8ACFE5;
$b-medium: 700px;

@mixin font-regular {
  font-family: 'Roboto';
}

@mixin font-bold {
  @include font-regular;
  font-weight: bold;
}

@mixin font-italic {
  @include font-regular;
  font-style: italic;
}

@mixin medium-screen {
  @media screen and (min-width: $b-medium) {
    @content;
  }
}

// Reset default styles
html,
body {
  margin: 0;
  font-size: 18px;
  @include font-regular;
}

img {
  max-width: 100%;
}

@import 'sections/header.scss';
@import 'sections/hero.scss';