ul, li {
    margin: 0;
    padding: 0;
}

.button {
    display: block;
    border-radius: 4px;
    padding: 1em 2em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;

    &.primary {
        background-color: $c-brightred;
        color: white;
    }

    &.secondary {
        background-color: $c-lightblue;
        color: $c-darkblue;
    }
}