Welcome to our website!

<ul>
{{#each movies }}
  <li>
    <a href="/movies/{{ this.id }}">
      {{ this.title }}
    </a>
  </li>
{{/each}}
</ul>

<div id="screenings">
  <h2>Kommande visningar</h2>
  <ul id="screeningsList">
  </ul>
</div>
<script src="/static/home.js"></script>
