<h1>Highscore</h1>

<p>
  <a href='/highscore?wordLength=3'>3</a>
  <a href='/highscore?wordLength=4'>4</a>
  <a href='/highscore?wordLength=5'>5</a>
  <a href='/highscore?wordLength=6'>6</a>
  <a href='/highscore?wordLength=7'>7</a>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Word</th>
      <th>Time</th>
      <th>Guesses</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.word}}</td>
        <td>{{this.time}}s</td>
        <td>{{this.guessCount}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>