<h1>Highscore</h1>
<p>
  <a href="?wordLength=4">4-letter words</a>
  <a href="?wordLength=5">5-letter words</a>
  <a href="?wordLength=6">6-letter words</a>
</p>
<p>
  With unique:
  <a href="?unique=true&wordLength=4">4-letter words</a>
  <a href="?unique=true&wordLength=5">5-letter words</a>
  <a href="?unique=true&wordLength=6">6-letter words</a>
</p>
<ul>
{{#each highscores }}
  <li>
    <h2>
      <span class="name">{{this.name}}</span>
      <span class="time">{{this.duration}}</span>
    </h2>
    <p>
      {{this.wordLength}}-letter words
      {{#if this.unique}}with unique characters{{/if}}
    </p>
  </li>
{{/each}}
</ul>
