html {
  font-size: 16px;
}

body {
  background-color: #fcc;
}

a {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

@media screen and (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.8rem;
  }
}

.header {
  background-color: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 1em 0;

  font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
  .header {
    grid-column: span 12;
    margin: 0;
  }
}

.left {
  background-color: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 1em 0;
}

@media screen and (min-width: 800px) {
  .left {
    grid-column: span 3;
    margin: 0;
  }
}

.main {
  background-color: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 1em 0;
  font-size: 1.3rem;
}

@media screen and (min-width: 800px) {
  .main {
    grid-column: span 6;
    margin: 0;
  }
}

.main figure {
  float: left;
  margin: 5px 10px 10px 0;
}

figure img {
  display: block;
}

figure span {
  display: block;
  font-style: italic;
  text-align: center;
}

.right {
  background-color: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 1em 0;
}

@media screen and (min-width: 800px) {
  .right {
    grid-column: span 3;
    margin: 0;
  }
}

.footer {
  background-color: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 1em 0;
}

@media screen and (min-width: 800px) {
  .footer {
    grid-column: span 12;
    margin: 0;
  }
}

.footer ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer li {
  list-style-type: none;
}

.footer a {
  display: block;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}