body {
  background: linear-gradient(#fcc, #f88);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: white;
  padding: 10px;
  margin: 0 auto;
  max-width: 300px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;

  animation: container-enter 0.8s 0.2s;
  animation-fill-mode: both;
}

@keyframes container-enter {
  0% {
    opacity: 0;
    transform: translateY(-120%);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  animation: 0.5s 1.0s both fade-in;
  margin: 0 0 10px;
}

p.counter {
  margin: 0 0 20px;
  animation: 0.5s 1.1s both fade-in;
  font-size: 10px;
}

input, button {
  animation: 0.5s 1.2s both fade-in;
}

.error {
  display: none;
  color: red;
  font-style: italic;
  font-size: 10px;
  margin: 5px;
  opacity: 0;
}

.error.visible {
  display: block;
  animation: 1s both error-enter;
}

@keyframes error-enter {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  animation: 0.5s 1.3s both fade-in;
}

li {
  margin: 10px 0;
  animation: 0.3s item-fly-in;
  cursor: pointer;
}

li .label {
  transition: color 0.3s;
}

li .label:hover {
  text-decoration: line-through;
}

@keyframes item-fly-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.completed .label {
  text-decoration: line-through;
  color: #888;
}

.trashcan {
  font-size: 10px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.trashcan:hover {
  opacity: 1.0;
}