@use '../lib/variables' as *;
@use '../lib/mixins' as *;

@mixin burgerLine {
  display: block;
  width: 3rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: white;
  border-width: 0;
}

.header {
  background-color: $c-dark;
  padding: 2rem;
  position: relative;

  &__title {
    background-image: url(images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-left: 6em;
    width: 6em;

    @include medium-screen {
      font-size: 42px;
      padding-left: 5em;
      padding-top: 4rem;
      width: auto;
    }
  }

  &__nav {
    display: none;

    &Button {
      position: absolute;
      top: 3rem;
      right: 2rem;
      z-index: 2;

      @include burgerLine;

      &:before {
        content: "";
        @include burgerLine;
        position: absolute;
        left: 0;
        top: -1rem;
      }

      &:after {
        content: "";
        @include burgerLine;
        position: absolute;
        left: 0;
        bottom: -1rem;
      }

      span {
        visibility: hidden;
      }
    }

    &--open {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: rgba(255, 255, 255, 0.5);

      .header__navList {
        align-items: center;
        background-color: $c-dark;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
      }

      .header__navItem {
        a {
          color: white;
          text-decoration: none;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }


    @include medium-screen {
      display: block;

      &List {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin: 3rem 0 0;
        padding: 0;
      }

      &Item {
        list-style-type: none;
        padding: 0 2rem;
      }

      a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
      }
    }
  }
}