@use '../lib/mixins.scss' as *;
@use '../lib/variables.scss' as *;

.scenario {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  &__headline {
    font-size: 1.9rem;
    margin: 1.5rem 1rem;
  }

  &__description {
    font-size: 1.3rem;
    margin: 1rem 1rem;
  }

  &__cta {
    display: block;

    @include button($c-red, white);
    margin: 2rem 1rem 4rem;
  }
}