.header {
    padding: 10px;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.header {
    grid-column: span 12;
}

.left {
    grid-column: span 3;
}

.right {
    grid-column: span 3;
}

.main {
    grid-column: span 6;
}

.footer {
    grid-column: span 12;
}