body {
  background-color: #fdd;
}

html {
  font-size: 24px;
}

.header {
  background-color: blue;
}

.header {
  background-color: white;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
@media screen and (min-width: 720px) {
  .header {
    grid-column: span 12;
    margin: 0;
  }
}

.left {
  background-color: white;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
@media screen and (min-width: 720px) {
  .left {
    grid-column: span 3;
    margin: 0;
  }
}

.main {
  background-color: white;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
@media screen and (min-width: 720px) {
  .main {
    grid-column: span 6;
    margin: 0;
  }
}
.main figure {
  padding: 0;
  margin: 0;
}
.main figure img {
  width: 100%;
  max-width: 40vmax;
}
.main figure span {
  display: block;
}

.right {
  background-color: white;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
@media screen and (min-width: 720px) {
  .right {
    grid-column: span 3;
    margin: 0;
  }
}

.footer {
  background-color: white;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
@media screen and (min-width: 720px) {
  .footer {
    grid-column: span 12;
    margin: 0;
  }
}
@media screen and (min-width: 720px) {
  .footer ul {
    display: flex;
  }
  .footer li {
    list-style-type: none;
    margin: 0 10px;
  }
}
.footer a {
  display: block;
  padding: 10px 0;
}
.footer a:hover {
  color: red;
}

h1 {
  font-size: 2rem;
}

code {
  font-size: 0.8em;
}

@media screen and (min-width: 720px) {
  .container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
  }
  html {
    font-size: 16px;
  }
}
