$wide-screen-breakpoint: 720px;
$card-bg-color: white;

body {
    background-color: #fdd;
}

html {
    font-size: 24px;
}

@mixin card {
    background-color: $card-bg-color;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

@mixin wide-screen {
    @media screen and (min-width: $wide-screen-breakpoint) {
        @content;
    }
}

@mixin responsive-box($col-span) {
    @include wide-screen {
        grid-column: span $col-span;
        margin: 0;
    }
}

.header {
    @include card;
    @include responsive-box(12);
}

.left {
    @include card;
    @include responsive-box(3);
}

.main {
    @include card;
    @include responsive-box(6);

    figure {
        padding: 0;
        margin: 0;

        img {
            width: 100%;
            max-width: 40vmax;
        }

        span {
            display: block;
        }
    }
}


.right {
    @include card;
    @include responsive-box(3);
}

.footer {
    @include card;
    @include responsive-box(12);

    @include wide-screen {
        ul {
            display: flex;
        }

        li {
            list-style-type: none;
            margin: 0 10px;
        }
    }

    a {
        display: block;
        padding: 10px 0;

        &:hover {
            color: red;
        }
    }
}

h1 {
    font-size: 2rem;
}

code {
    font-size: 0.8em;
}

@include wide-screen {
    .container {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(12, 1fr);
    }

    html {
        font-size: 16px;
    }
}