body {
    background-color: #fdd;
}

html {
    font-size: 24px;
}

.header {
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.left {
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.main {
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;

    figure {
        padding: 0;
        margin: 0;

        img {
            width: 100%;
            max-width: 40vmax;
        }

        span {
            display: block;
        }
    }
}


.right {
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.footer {
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;

    a {
        display: block;
        padding: 10px 0;

        &:hover {
            color: red;
        }
    }
}



h1 {
    font-size: 2rem;
}

code {
    font-size: 0.8em;
}

@media screen and (min-width: 720px) {
    .container {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(12, 1fr);
    }

    .header {
        grid-column: span 12;
    }

    .left {
        grid-column: span 3;
    }

    .main {
        grid-column: span 6;
    }

    .right {
        grid-column: span 3;
    }

    .footer {
        grid-column: span 12;

        ul {
            display: flex;
        }

        li {
            list-style-type: none;
            margin: 0 10px;
        }
    }



    html {
        font-size: 16px;
    }
}