@use '../lib' as *;

.header {
  @include card;

  font-size: 1.5rem;

  @include breakpoint($medium-screen-breakpoint) {
    grid-column: span 2;
  }

  @include breakpoint($large-screen-breakpoint) {
    grid-column: span 3;
  }
}
