.GuessFeedback {
  display: flex;
  padding: 0;
}

.GuessFeedback li {
  list-style-type: none;
  padding: 1em;
  margin: 0 0.1em;
  width: 2em;
}

.GuessFeedback .correct {
  background-color: green;
}

.GuessFeedback .incorrect {
  background-color: red;
}

.GuessFeedback .misplaced {
  background-color: yellow;
  color: black;
}