.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.left, .right {
  flex: 2;
}

.main {
  flex: 5;
}

.header, .footer {
  height: 100px;
}