<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <header>
    <h1>Wordle game</h1>
    <nav>
      <ul>
        <li><a href="/">Play</a></li>
        <li><a href="/info">About</a></li>
        <li><a href="/highscore">Highscore</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
    Thank you!
  </footer>
</body>

</html>