<html>

  <body>
    <header>
      <h1>WORDLE GAME</h1>
      <nav>
        <a href='/'>Game</a>
        <a href='/info'>Info</a>
        <a href='/highscore'>Highscores</a>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>

</html>