@use 'lib' as *;
@use 'sections/header';
@use 'sections/content';
@use 'sections/asides';
@use 'sections/footer';

html {
  font-size: 24px;
}

.container {
  background-color: white;

  @include breakpoint($medium-screen) {
    display: grid;
    grid-template-columns: 12rem auto;
    grid-template-rows: 8rem auto auto 8rem;
  }

  @include breakpoint($wide-screen) {
    grid-template-columns: 12rem auto 12rem;
    grid-template-rows: 8rem auto 8rem;
  }
}
