.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);

  .modal {
    background-color: white;
    height: 60%;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 20%;
    box-shadow: 0 0 5rem rgba(0, 0, 0, .2);
  }
}
