.header {
  background-color: $c-darkblue;
  padding: 1rem;

  * {
    color: white;
  }

  @include medium-screen {
    padding-bottom: 0.2rem;
  }

  &__navbarButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-width: 0;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    z-index: 1;

    @include medium-screen {
      display: none;
    }

    span {
      position: relative;
      display: block;
      background-color: white;
      width: 100%;
      height: 6px;
      border-radius: 3px;

      &:before {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 6px;
        background-color: white;
        border-radius: 3px;
        top: -12px;
      }

      &:after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 6px;
        background-color: white;
        border-radius: 3px;
        bottom: -12px;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__text {
    font-size: 1.4rem;
    width: 120px;
    margin: 0;

    @include medium-screen {
      font-size: 2rem;
      width: auto;
    }
  }

  @include medium-screen {
    align-items: flex-end;
  }
}

.navbar {
  @media screen and (max-width: $b-medium) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);


    &__menu {
      position: absolute;
      top: 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      margin: 0;
      background-color: $c-darkblue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    &__menuItem {
      list-style-type: none;
      padding: 1rem 0;

      a {
        @include font-bold;
        font-size: 2rem;

        padding: 0.5rem 2rem;
        text-decoration: none;

        &:hover {
          color: $c-lightblue;
        }
      }
    }
  }

  @include medium-screen {
    display: block;

    &__menu {
      display: flex;
      margin-top: 2rem;
      padding: 0;

      justify-content: center;
    }

    &__menuItem {
      list-style-type: none;
      padding: 0;
      margin: 0;

      a {
        @include font-bold;
        font-size: 1.2rem;

        padding: 0.5rem 2rem;
        text-decoration: none;

        &:hover {
          color: $c-lightblue;
        }
      }
    }
  }
}

.navbarOpen {
  .navbar {
    display: block;
  }

  .header__navbarButton {
    transform: rotate(45deg);

    span:before {
      opacity: 0;
    }

    span:after {
      transform: rotate(90deg);
      bottom: 0;
    }
  }
}