@use '../lib.scss';

.hero {
  background: url('hacker.png');
  background-size: cover;
  background-position: center center;
  height: 30vh;

  @include lib.wide-screen {
    height: 50vh;

    + .ctas {
      margin-top: -2rem;
    }
  }
}