.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $c-darkblue;
  color: white;
  padding: 4rem 1rem;
  font-size: 1.5rem;
  text-align: center;

  &__linkToFull {
    @include button(transparent, $c-lightblue);
    border: 2px solid $c-lightblue;
    margin-top: 2rem;
  }
}