body {
  font-family: sans-serif;
}

.recipe {
  max-width: 800px;
  margin: 100px auto 100px;
  border-bottom: 1px solid black;
  padding-bottom: 100px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.alternating {
  clear: both;
}

.alternating h1 {
  margin: 0 0 1em;
}

.alternating > * {
  width: 45%;
  padding: 0;
}

.alternating > *:nth-child(odd) {
  float: right;
}
