body {
  background-color: #faa;
  font-size: 24px;
}

.container {
  background-color: white;
  padding: 1em;
}

.header {
  font-size: 2em;
}

.main img {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.main {
  line-height: 1.3em;
}

.left, .right {
  margin: 1em 0;
}

.footer ul {
  padding: 0;
}

.footer li {
  list-style-type: none;
}

.footer a {
  display: block;
  padding: 1em 0;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .header {
    grid-column: span 2;
  }

  .main {
    grid-column: 2 / 3;
  }

  .left {
    grid-column: 1 / 2;
  }

  .right {
    grid-column: span 2;
  }

  .footer {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .header {
    grid-column: span 4;
  }

  .main {
    grid-column: 2 / 4;
  }

  .left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .right {
    grid-column: 4 / 5;
  }

  .footer {
    grid-column: span 4;
  }

  .footer ul {
    display: flex;
    align-content: stretch;
  }

  .footer li {
    flex-grow: 1;
  }
}