body {
  background-color: #faa;
  font-size: 24px;
}

.container {
  padding: 1em;
}
@media screen and (min-width: 700px) {
  .container {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.header {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  font-size: 2em;
}
@media screen and (min-width: 700px) {
  .header {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1000px) {
  .header {
    grid-column: span 3;
  }
}

.main {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  line-height: 1.3em;
}
.main img {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.left,
.right {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  margin: 1em 0;
}
@media screen and (min-width: 700px) {
  .left,
  .right {
    margin: 0;
  }
}

@media screen and (min-width: 700px) {
  .right {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1000px) {
  .right {
    grid-column: 3/4;
  }
}

.footer {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
.footer ul {
  padding: 0;
}
.footer li {
  list-style-type: none;
}
.footer a {
  display: block;
  padding: 1em 0;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .footer {
    grid-column: span 2;
  }
}
@media screen and (min-width: 1000px) {
  .footer {
    grid-column: span 3;
  }
}
