.container {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.left {
  position: absolute;
  top: 100px;
  left: 0;
  width: 20%;
  height: 350px;
}

.main {
  position: absolute;
  top: 100px;
  left: 20%;
  width: 60%;
  height: 350px;
}

.right {
  position: absolute;
  top: 100px;
  right: 0;
  width: 20%;
  height: 350px;
}

.footer {
  position: absolute;
  top: 450px;
  left: 0;
  right: 0;
  height: 100px;
}