.GuessItem {
  padding: 0;
  margin: 0;
  display: flex;
}

.GuessItem li {
  padding: 0;
  list-style-type: none;
  width: 30px;
  height: 30px;
  background-color: #ddd;
  margin: 0.1em;
}

.GuessItem .correct {
  background-color: green;
}

.GuessItem .incorrect {
  background-color: red;
}

.GuessItem .misplaced {
  background-color: yellow;
}
