.labelFilter__list {
  display: flex;
  gap: 0.5rem;

}

.labelFilter__listItem {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.2rem 1rem;

  &--selected {
    background-color: red;
  }
}