.footer {
  @include card;

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    display: block;
    padding: 1em 0;
    text-align: center;
  }

  @include breakpoint($medium-screen-breakpoint) {
    grid-column: span 2;
  }

  @include breakpoint($large-screen-breakpoint) {
    grid-column: span 3;
  }
}