$wide-screen-breakpoint: 810px;

html {
  font-size: 16px;
}

body {
  background-color: #fcc;
}

a {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.container {
  @media screen and (min-width: $wide-screen-breakpoint) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.8rem;
  }
}

@mixin card {
  background-color: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 1em 0;
}

.header {
  @include card;

  font-size: 1.5rem;

  @media screen and (min-width: $wide-screen-breakpoint) {
    grid-column: span 12;
    margin: 0;
  }
}

.left {
  @include card;

  @media screen and (min-width: $wide-screen-breakpoint) {
    grid-column: span 3;
    margin: 0;
  }
}

.main {
  @include card;
  font-size: 1.3rem;

  @media screen and (min-width: $wide-screen-breakpoint) {
    grid-column: span 6;
    margin: 0;
  }
}

.main figure {
  float: left;
  margin: 5px 10px 10px 0;
}

figure img {
  display: block;
}

figure span {
  display: block;
  font-style: italic;
  text-align: center;
}

.right {
  @include card;

  @media screen and (min-width: $wide-screen-breakpoint) {
    grid-column: span 3;
    margin: 0;
  }
}

.footer {
  @include card;

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li {
    list-style-type: none;
  }

  a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
  }

  @media screen and (min-width: $wide-screen-breakpoint) {
    grid-column: span 12;
    margin: 0;
  }
}
