$wide-screen-breakpoint: 810px;

html {
  font-size: 16px;
}

body {
  background-color: #fcc;
}

a {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.container {
  @media screen and (min-width: $wide-screen-breakpoint) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.8rem;
  }
}

@mixin card {
  background-color: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 1em 0;
}

@mixin wide-screen {
  @media screen and (min-width: $wide-screen-breakpoint) {
    @content;
  }
}

@mixin responsive-box($span-size) {
  @include wide-screen {
    grid-column: span $span-size;
    margin: 0;
  }
}

.header {
  @include card;
  @include responsive-box(12);

  font-size: 1.5rem;
}

.left {
  @include card;
  @include responsive-box(3);
}

.main {
  @include card;
  @include responsive-box(6);
  font-size: 1.3rem;
}

.main figure {
  float: left;
  margin: 5px 10px 10px 0;
}

figure img {
  display: block;
}

figure span {
  display: block;
  font-style: italic;
  text-align: center;
}

.right {
  @include card;
  @include responsive-box(3);
}

.footer {
  @include card;
  @include responsive-box(12);

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include wide-screen {
      flex-direction: row;
    }
  }

  li {
    list-style-type: none;
  }

  a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
