@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 18px;
}
@media (min-width: 1000px) {
  html, body {
    font-size: 24px;
  }
}

img {
  max-width: 100%;
}

menu,
ul,
li {
  margin: 0;
  padding: 0;
}

.button {
  display: block;
  border-radius: 4px;
  padding: 1em 2em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-width: 0;
  font-size: 1.1rem;
}
.button.primary {
  background-color: #E3170A;
  color: white;
}
.button.secondary {
  background-color: #8ACFE5;
  color: #011827;
}

.rating {
  display: flex;
  gap: 0.6em;
}
.rating .rating-star {
  list-style-type: none;
  width: 23px;
  height: 26px;
  background-image: url(star-inactive.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.rating .rating-star.active {
  background-image: url(star-active.png);
}

header {
  background-color: #011827;
  color: white;
  padding: 1em;
}
header h1 {
  margin: 0;
  padding: 0 0 0 130px;
  font-weight: 700;
  font-size: 22px;
  width: 120px;
  background-image: url("logo.png");
  background-size: 120px auto;
  background-repeat: no-repeat;
}
@media (min-width: 600px) {
  header h1 {
    width: auto;
    font-size: 40px;
    padding-left: 140px;
    padding-top: 30px;
  }
}

.main-nav a {
  font-size: 1rem;
}

.main-nav-toggle {
  display: none;
}

@media (max-width: 600px) {
  .main-nav-toggle {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    display: block;
    content: "";
    width: 3em;
    height: 0.4em;
    border-radius: 0.2em;
    background-color: white;
    /* Reset button styling */
    margin: 0;
    padding: 0;
    border-width: 0;
    display: block;
    transition: top 0.5s, right 0.5s, transform 0.5s;
  }
  .main-nav-toggle::before {
    display: block;
    content: "";
    width: 3em;
    height: 0.4em;
    border-radius: 0.2em;
    background-color: white;
    position: relative;
    top: 0.8em;
    transition: transform 0.5s;
  }
  .main-nav-toggle::after {
    display: block;
    content: "";
    width: 3em;
    height: 0.4em;
    border-radius: 0.2em;
    background-color: white;
    position: relative;
    top: 1.2em;
  }
  .main-menu {
    display: none;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s;
  }
  .main-nav.open {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
  }
  .main-nav.open .main-nav-toggle {
    z-index: 1001;
    transform: rotate(225deg);
    top: 3em;
    right: 2em;
  }
  .main-nav.open .main-nav-toggle::before {
    top: 0;
    transform: rotate(90deg);
  }
  .main-nav.open .main-nav-toggle::after {
    display: none;
  }
  .main-nav.open .main-menu {
    z-index: 1;
    background-color: #011827;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    z-index: 1000;
    animation: main-menu_reveal 0.3s 0.2s;
    animation-fill-mode: backwards;
  }
  @keyframes main-menu_reveal {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .main-nav.open .main-menu-item {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }
  .main-nav.open .main-menu-item a {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
  }
}
@media (min-width: 600px) {
  .main-nav {
    display: block;
    background-color: #011827;
    padding-top: 2rem;
  }
  .main-menu {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }
  .main-menu-item {
    list-style-type: none;
  }
  .main-menu-item a {
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.8em 1.5em;
    transition: color 0.2s;
  }
  .main-menu-item a:hover {
    color: #8ACFE5;
  }
}
.hero img {
  width: 100%;
  min-height: 40vh;
  object-fit: cover;
}
@media (min-width: 600px) {
  .hero img {
    max-height: 60vh;
  }
}

.hero-cta {
  display: flex;
  flex-direction: column-reverse;
  margin: 1em 3em;
  position: relative;
  top: -2em;
}
.hero-cta .button.primary {
  background-color: transparent;
  color: #36769D;
  text-decoration: underline;
  margin: 1em 0;
}
@media (min-width: 600px) {
  .hero-cta {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .hero-cta .button.primary {
    background-color: #E3170A;
    margin: 0;
    text-decoration: none;
    color: white;
  }
}
@media (min-width: 600px) {
  .hero-cta {
    margin: 0;
  }
}

.testimonials {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-item {
  list-style-type: none;
  display: none;
}
.testimonial-item:first-child {
  display: block;
}
.testimonial-item figure {
  display: grid;
  grid-template-columns: 74px auto;
  column-gap: 1em;
}
.testimonial-item figure blockquote {
  margin: 0;
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.testimonial-item figure figcaption {
  grid-column: 2/3;
}

@media (min-width: 1000px) {
  .testimonial-list {
    display: flex;
  }
  .testimonial-item {
    display: block;
  }
}
.challenges {
  margin: 3rem 0;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.challenges h2 {
  text-align: center;
}

.challenge-list {
  display: flex;
  overflow-x: scroll;
}

.challenge-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 360px;
  border-radius: 4px;
  margin: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.challenge-item .challenge-title,
.challenge-item .challenge-description,
.challenge-item .rating,
.challenge-item .challenge-meta,
.challenge-item .button {
  margin: 0.5rem;
}
.challenge-item .challenge-image {
  grid-column: span 2;
}
.challenge-item .challenge-title {
  grid-column: span 2;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.8em;
  margin-bottom: 0;
}
.challenge-item .challenge-meta {
  text-align: right;
}
.challenge-item .challenge-description {
  grid-column: span 2;
}
.challenge-item .button {
  grid-column: 2/3;
  font-size: 0.7em;
  padding: 1em;
}

.challenges-cta {
  display: flex;
  flex-direction: column-reverse;
  margin: 1em 3em;
  margin: 4rem 3rem;
}
.challenges-cta .button.primary {
  background-color: transparent;
  color: #36769D;
  text-decoration: underline;
  margin: 1em 0;
}
@media (min-width: 600px) {
  .challenges-cta {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .challenges-cta .button.primary {
    background-color: #E3170A;
    margin: 0;
    text-decoration: none;
    color: white;
  }
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #011827;
  color: white;
  padding: 3rem 1rem;
}
.story p {
  max-width: 26rem;
  text-align: center;
  margin-bottom: 2rem;
}
.story .button {
  border: 2px solid #8ACFE5;
  color: #8ACFE5;
  background-color: transparent;
}

.usps {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.usps .usp {
  margin: 0 0 2rem;
}
.usps .usp .usp-image {
  object-fit: cover;
}
.usps .usp .usp-title,
.usps .usp .usp-intro,
.usps .usp .button {
  margin-left: 1rem;
  margin-right: 1rem;
}
.usps .usp .button {
  margin-top: 2rem;
}
@media (min-width: 600px) {
  .usps .usp {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .usps .usp .button {
    margin-top: 0;
    font-size: 0.8rem;
  }
  .usps .usp .usp-image {
    max-width: 50%;
  }
  .usps .usp .usp-info {
    padding: 2rem;
  }
  .usps .usp:nth-child(even) {
    flex-direction: row-reverse;
  }
}

footer {
  background-color: #011827;
  color: white;
  padding: 1rem 1rem 3rem;
}
footer h2 {
  font-size: 1.2em;
  margin: 2em 0 0.3em;
}
footer p {
  margin: 0;
}
footer li {
  list-style-type: none;
}
footer .misc-link + .play-link {
  margin-top: 1em;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #8ACFE5;
}
@media (min-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-size: 0.7rem;
  }
  footer .footer-summary {
    grid-column: 2/7;
  }
  footer .footer-sitemap {
    grid-column: 8/10;
  }
  footer .footer-social {
    grid-column: 10/12;
  }
}
