html {
    min-height: 100%;
}

* {
    font-family: sans-serif;
}

body {
    background: linear-gradient(#f8cfcd, #f18f8b);
    background-repeat: no-repeat;
}

.container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    animation: container-enter 0.5s;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes container-enter {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title,
.container p,
.container form {
    animation: any-fade-in 0.4s backwards;
}

.title {
    animation-delay: 0.5s;
}

.container p {
    animation-delay: 0.6s;
}

.container form {
    animation-delay: 0.7s;
}


@keyframes any-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title {
    margin: 0;
    font-family: serif;
}

.error {
    display: none;
    color: red;
    font-style: italic;
}

.error.active {
    display: block;
    animation: error-blink 0.3s;
    animation-iteration-count: 3;
}

@keyframes error-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.todo-item {
    animation: todo-item-enter 0.3s;
    list-style-type: none;
    transition: opacity 0.3s;
}

.todo-item:hover {
    text-decoration: line-through;
    cursor: pointer;
}

@keyframes todo-item-enter {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.todo-item.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.remove-button {
    background-color: transparent;
    border-width: 0;
}