.header {
  background-color: $c-darkblue;
  color: $c-white;
  padding: 1rem;

  .logo {
    padding: 0.2rem 0 0 130px;
    width: 100px;
    height: 80px;
    line-height: 1em;
    font-size: 1.6rem;

    background-image: url('images/logo.png');
    background-size: 120px;
    background-repeat: no-repeat;

    @include desktop {
      width: auto;
      height: auto;
      padding-top: 2.8rem;
      padding-bottom: 0.8rem;
      font-size: 2rem;
    }
  }
}
