.hero-image {
  background-image: url('images/hero.png');
  background-size: cover;
  height: 40vh;

  @include desktop {
    height: 45vw;
  }
}

.hero-cta {
  @include challenge-ctas;

  @include desktop {
    a {
      position: relative;
      top: -2.5rem;
    }
  }
}
