.main-nav {
  $animation-duration: 0.3s;

  @mixin burger-line {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    border-radius: 0.15rem;
    background-color: white;
  }

  .main-menu {
    display: none;
  }

  .main-nav-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;

    $trans-duration: 0.5s;

    transition: transform $trans-duration, top $trans-duration, right $trans-duration;

    @include burger-line;

    &::before {
      content: "";
      position: absolute;
      top: 0.7rem;
      @include burger-line;

      opacity: 1;
      transition: opacity $trans-duration;
    }

    &::after {
      content: "";
      position: absolute;
      top: 1.4rem;
      @include burger-line;

      transition: transform $trans-duration, top $trans-duration;
    }
  }

  .main-menu {
    z-index: 1;
    background-color: $c-darkblue;
  }

  @media screen and (max-width: $bp-desktop) {
    &.open {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: rgba(255, 255, 255, 0.5);

      animation: main-nav_open $animation-duration;

      .main-nav-toggle {
        top: 3rem;
        right: 2rem;

        transform: rotate(225deg);

        &::before {
          opacity: 0;
        }

        &::after {
          transform: rotate(90deg);
          top: 0;
        }
      }

      .main-menu {
        display: flex;
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        box-shadow: 0 0 1rem rgba(0,0,0, 0.5);

        flex-direction: column;
        justify-content: center;
        align-items: center;

        animation: main-menu_open $animation-duration;

        a {
          display: block;
          font-size: 1.8em;
          padding: 0.5em 0;
          margin: 0.2em 0;
        }
      }
    }
  }

  @include desktop {
    background-color: $c-darkblue;

    .main-nav-toggle {
      display: none;
    }

    .main-menu {
      display: flex;
      justify-content: space-around;
      padding: 1rem 10rem;
      font-size: 1.2rem;
    }
  }

  a {
    @include menu-link;
    font-weight: bold;
  }
}

@keyframes main-nav_open {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@keyframes main-menu_open {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}
