.main-nav {
  .main-menu {
    display: none;
  }

  .main-nav-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('images/menu-open.png');
  }

  .main-menu {
    z-index: 1;
    background-color: $c-darkblue;
  }

  @media screen and (max-width: $bp-desktop) {
    &.open {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: rgba(255, 255, 255, 0.5);

      .main-nav-toggle {
        top: 2rem;
        right: 2rem;
        background-image: url('images/menu-close.png');
      }

      .main-menu {
        display: flex;
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
          display: block;
          font-size: 1.8em;
          padding: 0.5em 0;
          margin: 0.2em 0;
        }
      }
    }
  }

  @include desktop {
    background-color: $c-darkblue;

    .main-nav-toggle {
      display: none;
    }

    .main-menu {
      display: flex;
      justify-content: space-around;
      padding: 1rem 10rem;
      font-size: 1.2rem;
    }
  }

  a {
    @include menu-link;
    font-weight: bold;
  }
}
