.usp-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  h2 {
    margin: 1rem;
    font-size: 1.8rem;
  }

  p {
    margin: 1rem;
    font-size: 1.2rem;
  }

  .usp-cta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;

    a {
      @include button($c-red);

      align-self: flex-start;
      margin: 0;
    }
  }

  @include desktop {
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns: [img-start] 1fr 1fr 1fr 1fr 1fr 1fr [img-end] 1fr [content-start] 1fr 1fr 1fr 1fr [content-end] 1fr;
    grid-template-rows: 3rem auto auto auto 3rem;

    img {
      grid-column: img-start / img-end;
      grid-row: 1 / 6;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      margin: 1rem 0;
      grid-column: content-start / content-end;
      grid-row: 2 / 3;
    }

    p {
      margin: 1rem 0;
      grid-column: content-start / content-end;
      grid-row: 3 / 4;
    }

    .usp-cta {
      margin: 1rem 0;
      grid-column: content-start / content-end;
      grid-row: 4 / 5;
    }

    &:nth-child(even) {
      grid-template-columns: 1fr [content-start] 1fr 1fr 1fr 1fr [content-end] 1fr [img-start] 1fr 1fr 1fr 1fr 1fr 1fr [img-end];
    }
  }
}
