@import 'misc/variables';
@import 'misc/reset';
@import 'misc/mixins';

@import 'sections/header';
@import 'sections/nav';
@import 'sections/hero';
@import 'sections/testimonials';
@import 'sections/challenges';
@import 'sections/story';
@import 'sections/usps';
@import 'sections/footer';
