$medium-screen-breakpoint: 700px;
$large-screen-breakpoint: 1200px;

@mixin card {
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

@mixin breakpoint($min-size) {
  @media screen and (min-width: $min-size) {
    @content;
  }
}