@use 'lib.scss' as *;
@use 'sections/header';
@use 'sections/asides';
@use 'sections/main';
@use 'sections/footer';

html {
  font-size: 28px;
}

body {
  background-color: #faa;
}

.container {
  @include breakpoint($medium-screen-breakpoint) {
    display: grid;
    grid-template-columns: 15rem auto;
    gap: 1em;
  }

  @include breakpoint($large-screen-breakpoint) {
    grid-template-columns: 10rem auto 10rem;
  }
}