<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>My Movie Site</title>
  </head>
  <body>
    <header class="header">
      <h1>My Movie Site</h1>
    </header>
    <main class="content">
      {{{body}}}
    </main>
  </body>
</html>
