html {
  font-size: 28px;
}

body {
  background-color: #faa;
}

.header,
.main,
.left,
.right,
.footer {
  background-color: white;
  margin: 0.5rem;
  padding: 0.5rem;
}

.header {
  font-size: 1.5rem;
}

.main img {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}

nav li {
  list-style-type: none;
}

nav li a {
  display: block;
  padding: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 10rem auto;
  }

  .header {
    grid-column: span 2;
  }

  .left {
    grid-column: 1;
    grid-row: 2;
  }

  .right {
    grid-column: span 2;
  }

  .footer {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px;
  }

  .container {
    grid-template-columns: 14rem auto 14rem;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    grid-column: span 3;
  }

  .right {
    grid-column: span 1;
  }

  .footer {
    grid-column: span 3;
  }

  nav ul {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
  }
}