<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}My title{%endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
  </head>
  <body>
    <div class="page">
      <header>
        <nav>
          <ul>
            {% for item in menu %}
            <li class="menu-item {% if item.link == cur_page %}active{% endif %}">
              <a href="{{ item.link }}"> {{ item.label }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
      <div class="main">
        {% block content %}
        {% endblock %}
      </div>
      <footer>This is footer</footer>
    </div>
  </body>
</html>
