<a href="/">Back to home page</a>
<article class="movie">
  <h1>{{ movie.attributes.title }}</h1>
  <div class="intro">
    {{{ markdown movie.attributes.intro }}}
  </div>
  {{#if movie.attributes.image }}
  <img src="{{ movie.attributes.image.url }}">
  {{/if }}
</div>
