<a href="/">Back to home page</a>
<article class="movie">
  <h1>{{ movie.title }}</h1>
  <div class="intro">
    {{{ markdown movie.intro }}}
  </div>
  {{#if movie.image }}
  <img src="{{ movie.image.url }}">
  {{/if }}
</div>
