* {
  box-sizing: border-box;
}

section {
  border-top: 4px solid black;
  border-right: 20px dashed black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;

  padding: 10px 40px;
  margin: 10px;
  background-color: lightblue;
}

section h1 {
  margin-bottom: 100px;
}

section h2 {
  margin-top: 20px;
}

em {
  text-transform: uppercase;
  margin: 20px;
}

strong {
  display: inline-block;
  text-decoration: underline;
  padding: 10px;
}