.header {
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.main {
    flex-grow: 3;
    flex-shrink: 3;
    flex-basis: 200px;
}

.left {
    flex-grow: 2;
    flex-shrink: 4;
    flex-basis: 200px;
}

.right {
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 200px;
}