.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  height: 100px;
  width: 100%;
}

.left {
  width: 20%;
}

.main {
  width: 60%;
}

.right {
  width: 20%;
}

.footer {
  height: 100px;
  width: 100%;
}