@import 'style.css';

.container {
  position: relative;
}

.left {
  position: absolute;
  top: 18px;
  left: 0;
  width: 200px;
}

.main {
  position: absolute;
  top: 18px;
  left: 200px;
  width: calc(100% - 400px);
}

.right {
  position: absolute;
  top: 18px;
  right: 0;
  width: 200px;
}

.footer {
  position: absolute;
  top: 320px;
  width: 100%;
}