@import 'style.css';

.header::after {
  content: " (blocks & inline-blocks)";
}

.left {
  display: inline-block;
  width: 200px;
}

.main {
  display: inline-block;
  width: calc(100% - 400px);
}

.right {
  display: inline-block;
  width: 200px;
}