@import 'style.css';


.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.left {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.main {
  flex-grow: 3;
  flex-shrink: 2;
  flex-basis: 0;
}

.right {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}