@import 'style.css';

.container {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto auto;

  gap: 10px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 13;
}

.left {
  grid-column: 1 / 4;
}

.main {
  grid-column: 4 / 10;
}

.right {
  grid-column: 10 / 13;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 13;
}