.allChallenges {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__container {
    .allChallenges__filters {
      display: none;
    }

    &--filterOpen {
      .allChallenges__filterToggle {
        display: none;
      }

      .allChallenges__filters {
        display: block;
      }
    }
  }
}

.challenges {
  margin: 4rem 0;

  &__headline {
    @include font-regular;
    margin: 4rem 0;
    text-align: center;
  }

  &__topThree {
    display: flex;
    width: 100%;
    overflow-x: scroll;

    @include large-screen {
      justify-content: center;
      overflow-x: auto;
    }
  }

  .ctas {
    margin-top: 2rem;
    position: static;
  }
}

.challengeCard {
  margin: 1rem;
  border-radius: 0.2rem;
  overflow: hidden;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  width: 80%;
  max-width: 360px;
  flex-shrink: 0;

  &__content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    @include font-regular;
    font-size: 1.7rem;
    margin: 0;
  }

  &__subtitle {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin: 0.4rem 0 0;
  }

  &__rating {
    display: flex;
    gap: 0.5rem;

    span {
      display: block;
      width: 15px;
      height: 15px;
      background: url('star-empty.png');
    }

    &[aria-valuenow="1"] {
      span:nth-child(1) {
        background: url('star-filled.png');
      }
    }

    &[aria-valuenow="2"] {
      span:nth-child(1) {
        background: url('star-filled.png');
      }

      span:nth-child(2) {
        background: url('star-filled.png');
      }
    }

    &[aria-valuenow="3"] {
      span:nth-child(1) {
        background: url('star-filled.png');
      }

      span:nth-child(2) {
        background: url('star-filled.png');
      }

      span:nth-child(3) {
        background: url('star-filled.png');
      }
    }

    &[aria-valuenow="4"] {
      span:nth-child(1) {
        background: url('star-filled.png');
      }

      span:nth-child(2) {
        background: url('star-filled.png');
      }

      span:nth-child(3) {
        background: url('star-filled.png');
      }

      span:nth-child(4) {
        background: url('star-filled.png');
      }
    }

    &[aria-valuenow="5"] {
      span:nth-child(1) {
        background: url('star-filled.png');
      }

      span:nth-child(2) {
        background: url('star-filled.png');
      }

      span:nth-child(3) {
        background: url('star-filled.png');
      }

      span:nth-child(4) {
        background: url('star-filled.png');
      }

      span:nth-child(5) {
        background: url('star-filled.png');
      }
    }
  }

  &__bookButton {
    @include button($c-red, white);
    align-self: flex-end;
  }
}