.ctas {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  margin: 2rem;

  @include medium-screen {
    margin-top: 0;
    flex-direction: row;
    justify-content: center;

    position: relative;
    top: -2rem;
  }

  &__onsiteButton {
    @include button($c-lightblue);
  }

  &__onlineButton {
    @include font-bold;
    font-size: 0.8rem;
    padding: 1rem 3rem;
    color: $c-mediumblue;

    @include medium-screen {
      @include button($c-red, white);
    }
  }
}