@use '../lib.scss';

.footer {
  background-color: lib.$c-darkblue;
  color: lib.$c-white;
  padding: 4rem 1rem;
  font-size: 1.1rem;

  &__container {
    max-width: 1600px;
    margin: 0 auto;
  }

  &__summaryHeadline {
    font-size: 1em;
    margin: 0;
  }

  &__summaryText {
    margin: 0.5rem 0;
  }

  &__sitemap {
    .linkList__item:nth-child(3) {
      margin-bottom: 1rem;
    }
  }

  .linkList {
    margin: 2rem 0;
  }

  @include lib.wide-screen {
    &__container {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr;
    }

    &__sitemap {
      grid-column: 3;
    }

    &__social {
      grid-column: 4;
    }

    .linkList {
      margin: 0;
    }
  }
}