@use '../lib.scss' as lib;

.header {
  background-color: lib.$c-darkblue;
  padding: 1.5rem;
}

.header__logo {
  background-image: url('/logo.png');
  background-size: 8rem;
  background-repeat: no-repeat;
  color: lib.$c-white;
  width: 10rem;
  padding-left: 8.5rem;
  font-size: 1.5rem;
  height: 5.4rem;
  margin: 0;

  @include lib.wide-screen {
    display: flex;
    align-items: end;
    width: auto;
    font-size: 2.5rem;
    padding-left: 10rem;
  }
}

.header__mobileMenuButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;

  border-width: 0;
  width: 2rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  transition: transform 0.5s, top 0.5s, right 0.5s;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0.6rem;
    background-color: white;
    width: 2rem;
    height: 0.3rem;
    border-radius: 0.15rem;
    transition: transform 0.5s;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 1.2rem;
    background-color: white;
    width: 2rem;
    height: 0.3rem;
    border-radius: 0.15rem;
    transition: opacity 0.3s;
  }
}

.body--menuOpen {
  .header__mobileMenuButton {
    transform: rotate(225deg);
    top: 2.5rem;
    right: 1.5rem;

    &::before {
      transform: rotate(90deg) translateX(-0.55rem);
    }

    &::after {
      opacity: 0;
    }
  }
}