@use '../lib.scss';

.testimonials {
  display: flex;
  max-width: 1200px;
  margin: 3rem auto;

  @include lib.wide-screen {
    margin: 5rem auto;
  }
}

.testimonial {
  &:nth-of-type(2) {
    display: none;

    @include lib.wide-screen {
      display: grid;
    }
  }

  display: grid;
  grid-template-columns: 4.5rem auto;
  gap: 0.5rem;

  &__image {
    grid-column: 1 / 1;
    width: 100%;
  }

  &__quote {
    grid-column: 2 / 2;
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
  }

  &__citation {
    grid-column: 2 / 2;
  }

}